body {
    background: #ffff99;
}

.button {
   border-top: 1px solid #061f2e;
   background: #1c5d85;
   background: -webkit-gradient(linear, left top, left bottom, from(#1c5d85), to(#1c5d85));
   background: -webkit-linear-gradient(top, #1c5d85, #1c5d85);
   background: -moz-linear-gradient(top, #1c5d85, #1c5d85);
   background: -ms-linear-gradient(top, #1c5d85, #1c5d85);
   background: -o-linear-gradient(top, #1c5d85, #1c5d85);
   padding: 6.5px 13px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 15px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   cursor: default;
   text-align: center;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
